h1 {
color:blueviolet;
padding: 0;  
font-family: 'Pacifico', cursive;
font-size: 4rem;
}

img {
width: 350px;    
border-radius: 50%;
border-style: inset;
border-width: 6px;
border-color: blueviolet;
}
